
  <!--i know inline css sucks, whatever :) -->
  <div style="position:relative;">
    
    <div style="position:fixed; margin:0; padding:0; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background:#ecf0f1; z-index: 2000;">
      
      <div style="position:fixed; margin:0; padding:0; width:300px; height:60px; top:50%; left:50%;  margin-left:-150px; margin-top:-30px; z-index: 2001; text-align: center; display:none;" id="lessIsMoreText">
      
        <span style="font-family:'Montserrat', Arial;">
          <h1>
            <span style="font-weight: 100;">less </span>
            <span style="font-weight: 300;">is </span>
            <span style="font-weight: 500;">more</span>
          </h1>
        </span> 
    
      </div>

    </div>
  
  </div>





