
body{
  background: #f5f5f5;
  color: #34495e !important;
  font-family: 'Montserrat', Arial, sans-serif !important;
  overflow-y: scroll;
}
      
#splash{
  padding-top: 20%;
}
      
.well{
  background: #ecf0f1 !important;
} 
   
#viewWrapper{
  display:none;
} 
       
.container{
  padding-top: 10px;
}


.chart div{
        padding: 5px;
        font-size: 8px;
        color: white;
        background:#34495e;
        height:30px;
        line-height: 20px; /* h - 2*padding*/
        margin-bottom: 8px;
      }
      div.bench{
        padding: 5px;
        font-size: 8px;
        color: white;
        height:30px;
        line-height: 20px; /* h - 2*padding*/
        width:100%;
        background:#9b59b6;
      }
      
      @media only screen and (min-width : 360px){
        
        .chart div{
          font-size: 10px;
        }
        
        div.bench{
          font-size: 10px;
        } 
         
      }
      
      @media only screen and (min-width : 480px){
        
        .chart div{
          font-size: 12px;
        }
        
        div.bench{
          font-size: 12px;
        } 
         
      }







