

<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
          
          <button type="button" class="btn btn-link pull-right" ng-click="CR.logout()" ng-tap="CR.logout()">Logout 
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </button>
          
          <br>
          <h3>You are in.</h3>
  
          <br>
          <br>
            
        </div>
    </div>
    
    
    
    <div class="well clearfix">
      <div class="row">
        
        <div class="col-xs-12 col-sm-5">
          <p>solution files_list</p>
          <p>
            <a class="btn btn-info btn-xs" href="http://useless-space.hol.es/mpc/files-list.php" target="_blank">
              <i class="fa fa-wifi" aria-hidden="true"></i>&nbsp;&nbsp;live demo
            </a>
          </p>
          
          <p>
            <a class="btn btn-default btn-xs">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;src
            </a>
          </p>
        </div>
        
        <div class="col-xs-12 col-sm-5">
          <p>solution tiles_filters</p>
          <p>
            <a class="btn btn-info btn-xs" href="http://useless-space.hol.es/MPC/tiles-filters.php" target="_blank">
              <i class="fa fa-wifi" aria-hidden="true"></i>&nbsp;&nbsp;live demo
            </a>
          </p>
          <p>
            <a class="btn btn-default btn-xs" target="_blank">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;src
            </a>
          </p>
        </div>
        
        
        
        
        
        
        
        <!--new route/modal/slidein - ng include-->
        <div class="col-xs-12 col-sm-2">
          <p>hire me</p>
          <p>
            <button type="button" class="btn btn-default btn-xs" ng-click="CR.toggleBio()">
              <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp;bio
            </button>
          </p>  
        </div>
      
      
      </div>
    </div>
    
    
    <!--later include pure sql, raw php-->
    <div class="well clearfix" id="bio" style="display:none;">
      
      <div class="row">
        
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 chart">
            
            <div style="width:40%;">JavaScript Vanilla</div>
            
            <div style="width:35%;">Angular 1.X</div>
            
            <div style="width:34%;">Laravel 5.X</div>
            
            <div style="width:33%;">jQuery</div>
            
            <div style="width:32%;">Bootstrap 3.X</div>
            
            <div style="width:30%;">AJAX REST</div>
            
            <div style="width:30%;">RWD OOP</div>
            
            <div style="width:28%;">Wordpress</div>
            
            <div style="width:25%;">CodeIgniter</div>
            
            <div style="width:20%;">PHP 5.X</div><!--Pure-->
            
            <div style="width:18%;">Ionic</div>
            
            <div style="width:15%;">SQL</div><!--Raw-->
            
            <div style="width:14%;">Git</div>
            
            <div style="width:13%;">Java</div>
            
            <div style="width:13%;">Sass</div>
            
            <div style="width:13%;">Less</div>
        </div>
        
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <div class="bench">
            <div class="col-xs-4 text-left">poor</div> 
            <div class="col-xs-4 text-center"><strong>benchmark</strong></div>
            <div class="col-xs-4 text-right">excellent</div>
          </div>
        </div>  
      
      </div><!--/row-->      
      <br>
      <br>
      <div class="row">      
         <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <p><strong>Laravel, angular, javascript, bootstrap, jQ</strong> - fav & ready to go.</p>
          <p><strong>Wordpress</strong> old, good friend, need to be refreshed. Bit messy and akward but genuine and keeping it real. My first CMS learned a couple years ago. Unfortunatelly, abandoned after I discovered <strong>CodeIgniter</strong> and shortly after that, when a concise elegance of <strong>Laravel</strong> with its transparent routing, migrations, auth system and other well-crafted features came into play.
          </p>
          <p>Fundamental <strong>Ionic</strong> liked it big time, will get to know it better. As well as <strong>Vue.js</strong></p>
          <p>Rough, general, superficial, rudymentary understanding of other stuff.</p>
          

        </div>    
            
      </div><!--/row-->  
    
    </div><!--/well bio-->  
  
</div><!--/container-->






