

<div class="container">
      
    <div id="splash">
      
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <div class="alert alert-info" ng-if="CR.loginErr">
            <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </strong> Unfortunatelly login unsuccessful. Try again.
          </div>
        </div>  
      </div>  
      
      
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <div class="well well-lg clearfix">
            
            <form name="pixelAuthForm" ng-submit="CR.auth(pixelAuthForm)" novalidate>
              
              <div class="form-group">
                
                <input type="text" class="form-control" id="pass" placeholder="Hello Pixel. You know what to do." ng-model="CR.pixel.PIN" required>
              
              </div>
              
              
            
              <button type="submit" class="btn btn-default btn-lg btn-block" ng-disabled="!pixelAuthForm.$valid" ng-if="!CR.checking">Let me in</button>
              
              <button type="button" class="btn btn-default btn-lg btn-block" ng-disabled="true" ng-if="CR.checking">
                  <span style="color: #2ecc71; font-size: 18px;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                  </span>&nbsp;Checking Pixels
              </button>
            
            
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
      
</div> <!-- /container -->