

<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
          
          <button type="button" class="btn btn-link pull-right" ng-click="CR.logout()" ng-tap="CR.logout()">Logout 
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </button>
          
          <br>
          <h3>You are in.</h3>
  
          <br>
          <br>
            
        </div>
    </div>
    
    
    
    <div class="well clearfix">
      <div class="row">
        
        <div class="col-xs-12 col-sm-5">
          <p>solution files_list</p>
          <p>
            <a class="btn btn-info btn-xs" href="http://useless-space.hol.es/MPC/files_list.php" target="_blank">
              <i class="fa fa-wifi" aria-hidden="true"></i>&nbsp;&nbsp;live demo
            </a>
          </p>
          
          <p>
            <a class="btn btn-default btn-xs" href="https://github.com/i-do-wordpress/mpc_files_list" target="_blank">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;src
            </a>
          </p>
        </div>
        
        <div class="col-xs-12 col-sm-5">
          <p>solution tiles_filters</p>
          <p>
            <a class="btn btn-info btn-xs" href="http://useless-space.hol.es/MPC/tiles-filters.php" target="_blank">
              <i class="fa fa-wifi" aria-hidden="true"></i>&nbsp;&nbsp;live demo
            </a>
          </p>
          <p>
            <a class="btn btn-default btn-xs" target="_blank" href="https://github.com/i-do-wordpress/mpc_tiles_filters">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;src
            </a>
          </p>
        </div>
        
        
        
        
        
        
        
        <!--new route/modal/slidein - ng include-->
        <div class="col-xs-12 col-sm-2">
          <p>hire me</p>
          <p>
            <button type="button" class="btn btn-default btn-xs" ng-click="CR.toggleBio()">
              <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp;bio
            </button>
          </p>  
        </div>
      
      
      </div>
    </div>
    
    
    
    <!--later include pure sql, raw php-->
    <div class="well clearfix" id="bio" style="display:none;">
      
      
      <div class="row">
        
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 chart">
            
            <h4 class="techs">Technicalities</h4>
            <br>
            
            
            <div style="width:40%;">JavaScript Vanilla</div>
            
            <div style="width:35%;">Angular 1.X</div>
            
            <div style="width:34%;">Laravel 5.X</div>
            
            <div style="width:33%;">jQuery</div>
            
            <div style="width:32%;">Bootstrap 3.X</div>
            
            <div style="width:30%;">AJAX REST</div>
            
            <div style="width:30%;">RWD OOP</div>
            
            <div style="width:28%;">Wordpress</div>
            
            <div style="width:25%;">CodeIgniter</div>
            
            <div style="width:20%;">PHP 5.X</div><!--Pure-->
            
            <div style="width:18%;">Ionic</div>
            
            <div style="width:15%;">SQL</div><!--Raw-->
            
            <div style="width:14%;">Git</div>
            
            <div style="width:13%;">Java</div>
            
            <div style="width:13%;">Sass</div>
            
            <div style="width:13%;">Less</div>
        </div>
        
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <div class="bench">
            <div class="col-xs-4 text-left">poor</div> 
            <div class="col-xs-4 text-center"><strong>benchmark</strong></div>
            <div class="col-xs-4 text-right">excellent</div>
          </div>
        </div>  
      
      </div><!--/row-->      
      <br>
      <br>
      
      
      
      
      <div class="row">      
         <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <p><strong>Laravel, angular, javascript, bootstrap, jQ</strong> - fav & ready to go.</p>
          <p><strong>Wordpress</strong> old, good friend, moderately well known, need to be refreshed. Bit messy and akward but genuine and keeping it real. My first CMS learned a couple years ago. Unfortunatelly, hooks (and hacks) were partially abandoned after I discovered <strong>CodeIgniter</strong> and shortly after that, when a concise elegance of <strong>Laravel</strong> with its transparent routing, migrations, auth system and other well-crafted features came into play. How about <strong>wordpress REST API plugin + angular</strong> as front? 
          </p>
          <p>Fundamental <strong>Ionic</strong> like it big time, will get to know it better. As well as <strong>Vue.js</strong></p>
          <p>Rough, general, superficial, rudymentary understanding of other stuff.</p>
          <p>Always open-mindend, I have got thirst for knowledge and lust for learning new things.</p> 

        </div>    
            
      </div><!--/row-->  
      
      
      
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <h4 class="techs">Webapps currently being worked on</h4>
          <span class="help-block small">Note: I am using <strong>c9 IDE cloud</strong> now, therefore src code is not pushed to github. I am planning to do so in the nearest future. However viewing these on your request is possible.</span>
        </div>    
      </div><!--/row-->    
      <br>
      <br>
      
      <!--I know this shoud be ng-repeat here and there and no inline js/css if any..but
        no time for this now :)
        especially this is hardcoded anyways
      -->
      
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <p><strong>keep-it-short</strong></p>
            <p>Bit messy JavaScript + jQuery app. Multitask timer allowing for separate task labels and independent countdowns.</p>  
            
            <p>State of progress | <strong>Completed: 90%</strong></p>
            <p>Src | view <strong>on request</strong></p>
            <br>
              
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish1.png" data-lightbox="works" data-title="keep-it-short"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish1.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish3.png" data-lightbox="works" data-title="keep-it-short"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish3.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish4.png" data-lightbox="works" data-title="keep-it-short"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/kish4.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
          </div>
        </div><!--/row-->
        <br>
        <br>
            
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            
            <p><strong>ImageWorkshop custom CMS</strong></p>
            <p>Hybrid app: Laravel + pure JavaScript + Angular + jQuery. Some new JavaScript functionalities added to old webpage. Also CSS HTML redesign and fixes. Custom CMS made from scratch.</p>
            
            <p>State of progress | <strong>Completed: 25%</strong></p>
            <p>Src | view <strong>on request</strong></p>
            <br>
            
          </div>  
        </div><!--/row-->  
            
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">      
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw1.png" data-lightbox="works" data-title="ImageWorkshop"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw1.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw2.png" data-lightbox="works" data-title="ImageWorkshop"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw2.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw3.png" data-lightbox="works" data-title="ImageWorkshop"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/iw3.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
      
          </div>
        </div><!--/row-->
          
        <br>
        <br>
        
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">  
          
            <p><strong>Huskeape - vocabulary tester</strong></p>
            <p>Hybrid app: Laravel + pure JavaScript + Angular + jQuery. The app to learn, test and store any key - value pairs, not only vocabulary.</p>
            
            <p>State of progress | <strong>Completed: 30%</strong></p>
            <p>Src | view <strong>on request</strong></p>
            <br>
            
            <div class="row">  
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h1.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h1.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h2.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h2.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h3.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h3.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            </div>
            <br>
            
            <div class="row">  
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h4.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h4.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h5.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h5.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="https://raw.githubusercontent.com/i-do-wordpress/img/master/h6.png" data-lightbox="works" data-title="Huskeape"><img src="https://raw.githubusercontent.com/i-do-wordpress/img/master/h6.png" class="img-responsive img-thumbnail" alt="works"></a>
            </div>
            </div>
            
            
            
            
          </div>
        </div><!--/row-->
      
        <br>
        <br>
      
      
      
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <h4 class="techs">About</h4>
          <p>I'm thirtysomething currently living Silesia, Poland. Passionate about coding, particullary JavaScript.</p>
        </div>
      </div><!--/row-->
      
      
      
      
    </div><!--/well bio-->  
  
</div><!--/container-->






